<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <th:block th:replace="~{/layout/basic::setContent(~{this::content})}">
        <th:block th:fragment="content">
            <h1>자유게시판 글 작성 페이지</h1>
            
            <form th:action="@{/accident_info/save}" method="post">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" id="title" name="title" required>
                </div>
                <div class="form-group"></div>
                    <label for="content">content</label>
                    <textarea class="form-control" id="content" name="content" rows="3"></textarea>
                </div>
                <div class="form-group">
                    <label for="content">Writer</label>
                    <input type="text" class="form-control" id="writer" name="writer" rows="3" required>
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </form>
            <a href="#" class="btn btn-secondary" th:href="@{/accident_info/list}">목록으로</a>
           

        </th:block>
    </th:block>
</html>